<!DOCTYPE>
<html>
  <head>
    <title>Watchtower</title>
    <link href="https://fontastic.s3.amazonaws.com/nw77KMSzghQefJyZ2etFog/icons.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,100,300,700' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/polymer/0.5.2/polymer.min.js"></script>
    <link rel="import" href="elements/watchtower.html">
    <link rel="import" href="elements/chartbeat.html">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css"></link>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="watchtower">
    <nav>
      <x-watchtower></x-watchtower> 
      <div class="icon icon-dashboard"></div>
      <div class="icon icon-globe"></div>
    </nav>
    <main>
      <ng-view></ng-view>
      <footer>
        <div>powered by <chartbeat-logo></charbeat-logo></div>
      </footer>
    </main>
  </body>
</html>

