html, body {
  padding: 0;
  margin: 0;
  background: #0393AA;
}

nav {
  background: #00AFCC;
  float: left;
  width: 85px;
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.53);
}

x-watchtower::shadow svg {
  width: 100%;
  padding-top: 17px;
  padding-bottom: 20px;
}

nav > .icon {
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 28px;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.53);
}

nav > .icon:first-of-type {
  border-top: 1px solid rgba(255, 255, 255, 0.53);
}

nav .icon-dashboard {
  background: rgba(148, 184, 240, 0.19);
}

nav .icon-globe {
  font-size: 24px;
  background: rgba(0, 128, 99, 0.1);
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

footer > div {
  float: right;
  padding: 10px;
  color: rgba(255, 255, 255, 0.59);
  font-family: helvetica neue;
  font-weight: 300;
  font-size: 14px;
}

footer chartbeat-logo::shadow svg {
  height: 13px;
  width: 87px;
  margin-left: 3px;
  position: relative;
  top: 1px;
}

